@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
:root {
  --default-font-family: 'Roboto';
  --italic-font-family: 'Dancing Script';
  --default-font-family-secondary: 'Raleway';
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--default-font-family);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.heading--main {
  margin: 4rem 0;
  font-size: 3rem;
}

.center {
  text-align: center;
}

.header-section {
  background-image: url(../../img/headerTech.gif);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.renaissanceTeam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: gray;
}

.renaissanceTeam__container {
  margin: 2rem 0 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wisdom {
  background-image: url("/img/usb_port.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 5rem;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  padding: 1rem 2rem;
}

.header__logo {
  height: 5.5rem;
  width: 100%;
}

.header__logo-box {
  padding: 0.2rem;
  background-color: rgba(255, 255, 255, 0.301);
}

.user-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.user-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.user-nav__item:not(:last-child) {
  margin-right: 0.2rem;
}

.user-nav__item--link:link, .user-nav__item--link:visited {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0.2rem 1rem;
  font-family: var(--default-font-family-secondary);
  color: white;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
}

.user-nav__item--link:hover, .user-nav__item--link:active {
  background-color: rgba(211, 211, 211, 0.5);
  font-weight: 500;
}

.user-nav__item:hover {
  color: green;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.brief {
  width: 35vw;
  padding: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 4px;
}

.brief__heading {
  text-transform: capitalize;
  font-family: var(--default-font-family-secondary);
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.brief__heading--2 {
  color: goldenrod;
}

.brief__heading--italic {
  font-family: var(--italic-font-family);
  font-size: 3.5rem;
  font-weight: 200;
}

.brief__statement {
  padding: 1.5rem 0;
}

.brief__paragraph {
  text-align: left;
  font-weight: 200;
  font-family: var(--default-font-family-secondary);
}

.quote {
  border-radius: 1rem;
  max-width: 40%;
  margin: 4rem 0;
  position: relative;
}

.quote__title {
  color: goldenrod;
  font-family: var(--default-font-family-secondary);
  font-size: 3rem;
}

.quote__text {
  font-family: var(--italic-font-family);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.quote__owner {
  font-family: var(--italic-font-family);
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2.5px;
}

.profiler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.profiler__brief {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #b8b8b8;
  font-family: Oswald;
  text-transform: uppercase;
}

.profiler--1 {
  font-size: 15rem;
}

.profiler--2 {
  font-size: 12rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
}

.profiler--3 {
  font-size: 15rem;
}

.profiler--4 {
  font-size: 5rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  z-index: 1;
}

.profiler--5 {
  font-size: 12rem;
  z-index: 1;
}

.profiler--0 {
  font-size: 60rem;
  font-family: var(--default-font-family);
  top: 1rem;
  right: 3rem;
  position: absolute;
  color: white;
  z-index: 0;
}

.profiler > a {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.carousel {
  width: 50vw;
}

.carousel__image {
  width: 100%;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.carousel__item {
  display: none;
}

.carousel__item--active {
  display: block;
}

.carousel__container {
  position: relative;
}

.carousel__arrow-left {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 40%;
  left: 1%;
  color: black;
  border-radius: 100%;
  height: 7rem;
  width: 7rem;
  font-size: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel__arrow-right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 40%;
  right: 1%;
  color: black;
  border-radius: 100%;
  height: 7rem;
  width: 7rem;
  font-size: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel__indicators {
  position: absolute;
  width: 10vw;
  bottom: 5%;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2px;
}

.carousel__caption {
  position: absolute;
  bottom: 10%;
  color: white;
  padding: 4rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.carousel__caption > h5 {
  color: goldenrod;
  font-size: 3rem;
  margin: 1rem 0;
}

.indicator {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
}

.indicator--active {
  background-color: white;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.team:hover {
  background-color: rgba(218, 165, 32, 0.5);
  color: black;
  border-radius: 0.5rem;
}

.team > span {
  margin: 0.5rem 0;
}

.team__avatar {
  height: 15rem;
  width: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100%;
}

.team__name {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

.team__profession {
  font-weight: 300;
  font-size: 1.8rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  position: relative;
  padding: 2rem;
}

.card__icon {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
}

.card__title {
  text-align: center;
}

.card__body {
  font-size: 1.6rem;
  text-align: justify;
}

.card__body > p {
  white-space: pre-line;
  word-wrap: break-word;
}

.card__footer {
  margin: 1rem 0;
  font-size: 3rem;
  text-align: right;
  font-weight: 300;
}

.btn {
  padding: 1rem 2rem;
  border: 1px solid black;
  text-transform: uppercase;
}

.btn--link:link, .btn--link:visited {
  text-decoration: none;
  color: black;
}

.btn:hover, .btn--link:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: goldenrod;
}
/*# sourceMappingURL=main.css.map */