@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
:root {
  --default-font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: 500;
  font-family: var(--default-font-family);
  line-height: 1.4;
  color: white;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.heading--main {
  padding: 0.5em;
  font-size: 1.5rem;
}

.center {
  text-align: center;
}

.hero {
  padding: 2em 0;
  display: block;
  background: url("/img/header-img.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.navigation {
  background-color: #002e47;
}

.renaissanceTeam {
  padding: 2em 0;
  background-color: #232634;
}

.renaissanceTeam__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wisdom {
  color: black;
  padding: 2em 0;
}

.wisdom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  width: 20%;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list * + * {
  margin-left: 0.3125em;
}

.nav__item {
  padding: 0 0.3125em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.nav__link {
  display: inline-block;
  letter-spacing: 2px;
  position: relative;
  outline: none;
}

.nav__link:link, .nav__link:visited, .nav__link:active {
  font-family: var(--default-font-family);
  color: inherit;
  text-decoration: none;
}

.nav__link::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -2px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #fcc14a), color-stop(50%, #ffffffff));
  background-image: linear-gradient(90deg, #fcc14a 50%, #ffffffff 50%);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav__link:hover {
  color: gold;
}

.nav__link:hover::before, .nav__link--active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.about {
  padding: 2em 0;
}

.brief {
  padding: 1em;
  display: inline-block;
  max-width: 450px;
  color: inherit;
  background-color: rgba(45, 49, 66, 0.3);
  border-radius: 4px;
}

.brief__heading {
  text-transform: capitalize;
  font-family: var(--default-font-family);
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 4px;
}

.brief__heading--2 {
  color: #dd9403;
}

.brief__heading--italic {
  font-family: var(--italic-font-family);
  font-size: 2em;
  font-weight: 200;
}

.brief__statement {
  padding: 1em 0;
}

.brief__paragraph {
  font-family: var(--default-font-family);
  line-height: 1.8;
}

.quote {
  display: inline-block;
  max-width: 450px;
  position: relative;
  padding: 0 1em;
}

.quote__title {
  color: #dd9403;
  font-family: var(--default-font-family);
  font-size: 1em;
  padding-bottom: 1em;
}

.quote__text {
  font-family: var(--italic-font-family);
  line-height: 1.8;
  font-weight: 700;
  letter-spacing: 2.5px;
  z-index: 2;
}

.quote p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.quote__owner {
  padding-right: 1em;
  font-family: var(--italic-font-family);
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 2.5px;
  position: relative;
}

.quote__owner::before {
  position: absolute;
  content: '\201C';
  left: -10px;
  top: 5px;
}

.quote::before {
  content: '\201C';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0.3em;
  line-height: 1;
  font-size: 20rem;
  font-family: sans-serif;
  color: #feecc8;
}

.profiler {
  margin-left: -30em;
}

.profiler__brief {
  position: relative;
  text-transform: uppercase;
}

.profiler--1 {
  font-size: 3.5rem;
  left: 20px;
  position: absolute;
  bottom: 155px;
}

.profiler--2 {
  font-size: 3.5rem;
  left: 20px;
  bottom: 70px;
  position: absolute;
}

.profiler--4 {
  font-size: 3.5rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  top: -62px;
  left: 20px;
  position: absolute;
}

.profiler--5 {
  font-size: 3.5rem;
  position: absolute;
  bottom: 4rem;
  left: 255px;
  bottom: 55px;
  z-index: 1;
}

.profiler--0 {
  font-size: 20rem;
  font-family: var(--default-font-family);
  bottom: -115px;
  left: 115px;
  position: absolute;
  color: inherit;
  z-index: 0;
}

.team {
  max-width: 200px;
  background-color: #383d52;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.team:hover {
  background-color: #dd9403;
}

.team__avatar {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.team__name {
  font-size: 0.75 rem;
  font-weight: 500;
  padding: 1em .5em 0 .5em;
}

.team__profession {
  font-weight: 300;
  font-size: 1rem;
  padding: 0 .5em 1em .5em;
}

.btn {
  padding: 6px 12px;
  border: 1px solid black;
  border-radius: 4px;
  text-transform: uppercase;
}

.btn--link:link, .btn--link:visited {
  border: 1px solid #dd9403;
  text-decoration: none;
  color: black;
  cursor: pointer;
  -webkit-transition: all 0.4ms ease-in;
  transition: all 0.4ms ease-in;
}

.btn:hover, .btn--link:hover {
  color: white;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background-color: #dd9403;
  -webkit-box-shadow: 1px 1px 2px #2d3143;
          box-shadow: 1px 1px 2px #2d3143;
}

.btn:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: white;
  color: inherit;
  -webkit-box-shadow: none;
          box-shadow: none;
}
