:root {
  --default-font-family: 'Roboto';
  --italic-font-family: 'Dancing Script';
  --default-font-family-secondary: 'Raleway';
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--default-font-family);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section {
  padding: 0 2rem;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  height: 5.5rem;
  width: 100%;
  padding: 0;
}

.header__logo-box {
  padding: 0.2rem;
}

.user-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.user-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.user-nav__item:not(:last-child) {
  margin-right: 0.2rem;
}

.user-nav__item--link:link, .user-nav__item--link:visited {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0.2rem 1rem;
  font-family: var(--default-font-family-secondary);
  color: white;
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
}

.user-nav__item--link:hover, .user-nav__item--link:active {
  background-color: rgba(211, 211, 211, 0.5);
  font-weight: 500;
}

.user-nav__item:hover {
  color: green;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 0;
}

.brief {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40vw;
  padding: 4rem;
}

.brief__heading {
  text-transform: capitalize;
  font-family: var(--default-font-family-secondary);
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.brief__heading--2 {
  color: goldenrod;
}

.brief__heading--italic {
  font-family: var(--italic-font-family);
  font-size: 3.5rem;
  font-weight: 200;
}

.brief__statement {
  padding: 1.5rem 0;
}

.brief__paragraph {
  text-align: left;
  font-weight: 200;
  font-family: var(--default-font-family-secondary);
}

.carousel__image {
  width: 100%;
  background-size: cover;
}

.carousel__item {
  display: none;
}

.carousel__item--active {
  display: block;
}
/*# sourceMappingURL=main.css.map */