//   font-family: 'Dancing Script', ;

//   font-family: 'Roboto', ;

//   font-family: 'Raleway', ;
//   font-family: 'Comfortaa', ;

:root {
  --default-font-family: 'Roboto';
  --italic-font-family: 'Dancing Script';
  --default-font-family-secondary: 'Raleway';
}
