.brief {
  padding: 1em;
  display: inline-block;
  width: 40%;
  color: inherit;
  background-color: rgba(45, 49, 66, 0.7);
  border-radius: 4px;

  &__heading {
    text-transform: capitalize;
    font-family: var(--default-font-family);
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 4px;

    &--2 {
      color: darken($color: $color4, $amount: 20);
    }

    &--italic {
      font-family: var(--italic-font-family);
      font-size: 1.8rem;
      font-weight: 200;
    }
  }

  &__statement {
    padding: 1em 0;
  }

  &__paragraph {
    font-family: var(--default-font-family);
    line-height: 1.8;
  }
}
