.brief {
  width: 35vw;
  padding: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 4px;
  // box-shadow: 0 1px 3rem rgba(0, 0, 0, 0.5);

  &__heading {
    text-transform: capitalize;
    font-family: var(--default-font-family-secondary);
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
  }

  &__heading--2 {
    color: goldenrod;
  }

  &__heading--italic {
    font-family: var(--italic-font-family);
    font-size: 3.5rem;
    font-weight: 200;
  }

  &__statement {
    padding: 1.5rem 0;
  }

  &__paragraph {
    // font-size: 1.8rem;
    text-align: left;
    font-weight: 200;
    font-family: var(--default-font-family-secondary);
    // letter-spacing: 1px;
  }
}
