.profiler {
  margin-left: -30em;

  &__brief {
    position: relative;
    text-transform: uppercase;
  }

  &--1 {
    font-size: 3.5rem;
    left: 20px;
    position: absolute;
    bottom: 155px;
  }
  &--2 {
    font-size: 3.5rem;
    left: 20px;
    bottom: 70px;
    position: absolute;
  }
  &--4 {
    font-size: 3.5rem;
    align-self: end;
    top: -62px;
    left: 20px;
    position: absolute;
  }
  &--5 {
    font-size: 3.5rem;
    position: absolute;
    bottom: 4rem;
    left: 255px;
    bottom: 55px;
    z-index: 1;
  }
  &--0 {
    font-size: 20rem;
    font-family: var(--default-font-family);
    bottom: -115px;
    left: 115px;
    position: absolute;
    color: inherit;
    z-index: 0;
  }
}
