.btn {
  padding: 6px 12px;
  border: 1px solid initial;
  border-radius: 4px;
  text-transform: uppercase;

  &--link {
    &:link,
    &:visited {
      border: 1px solid darken($color: $color4, $amount: 20);
      text-decoration: none;
      color: initial;
      cursor: pointer;
      transition: all 0.4ms ease-in;
    }
  }

  &:hover,
  &--link:hover {
    color: white;
    transform: translateY(-1px);
    background-color: darken($color: $color4, $amount: 20);
    box-shadow: 1px 1px 2px $color11;
  }

  &:active {
    transform: translateY(0);
    background-color: white;
    color: inherit;
    box-shadow: none;
  }
}
