.copyrights {
  border-top: 1px solid darken($color: $color11, $amount: 4);
  background: lighten($color: $color11, $amount: 1);
  padding: 0.625em;
  text-align: center;
  color: white;

  &__renaissance {
    display: inline-block;
    text-transform: capitalize;
    // font-family: var(--italic-font-family);
    // font-size: 1.5em;
  }

  &__designer {
    text-transform: capitalize;
    color: inherit;
    float: right;
    display: flex;
    justify-content: center;

    span > i {
      color: red;
    }

    &:link,
    :visited {
      text-decoration: none;
      cursor: pointer;
    }

    &:hover {
      color: goldenrod;
    }
  }

  &__logo {
    display: inline-block;
    width: 1.5em;
    padding: 0;
    margin-left: 1em;
    // background-color: pink;
  }
}
