.team {
  max-width: 200px;
  background-color: lighten($color: $color11, $amount: 5);
  border-radius: 6px 6px 0 0;
  overflow: hidden;

  &:hover {
    background-color: darken($color: $color4, $amount: 20);
  }

  &__avatar {
    width: 100%;
    object-fit: contain;
  }

  &__name {
    font-size: (12 / 16) rem;
    font-weight: 500;
    padding: 1em .5em 0 .5em;
  }

  &__profession {
    font-weight: 300;
    font-size: 1rem;
    padding: 0 .5em 1em .5em;

  }
}

// TODO Add Parallax effect to the site
