.header-section {
  display: flex;
  flex-direction: column;
}

.renaissanceTeam {
  // background-color: rgba(0, 0, 0, 0.99);
  // background-color: rgba(3, 1, 31, 0.897);

  display: flex;
  flex-direction: column;
  color: gray;

  &__container {
    // background-color: black;
    margin: 2rem 0 4rem 0;
    display: flex;
    justify-content: space-evenly;
  }
}

.wisdom {
  // background-color: pink;
  background-image: url('/img/usb_port.jpg');
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  height: 100vh;
}
