.header-section {
  padding: 0 2rem;
  background-color: gray;
  //   background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.9));
  display: flex;
  flex-direction: column;
  //   border-bottom: 4px solid gold;
}

.renaissanceTeam {
  margin: 2rem 0;
  &__container {
    display: flex;
    justify-content: space-evenly;
  }
}
