.hero {
  padding: 2em 0;
  display: block;
  background: url('/img/header-img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.navigation {
  background-color: $color1;
}

.renaissanceTeam {
  padding: 2em 0;
  background-color: darken($color: $color11, $amount: 5);
  // background: repeating-radial-gradient(
  //   circle,
  //   darken($color: $color11, $amount: 2) 0,
  //   darken($color: $color11, $amount: 2) 1em,
  //   $color11 1em,
  //   $color11 2em
  // );
  &__container {
    display: flex;
    justify-content: space-evenly;
  }
}

.wisdom {
  color: black;
  padding: 2em 0;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
